<div id="psuedo-body">

<i class="material-icons" id="back-icon" (click)="goHome()">arrow_back</i>

<div id="page-text-content">
  <h2 class="subheader" id="what-is">What is Drinky Dice?</h2>
  <div class="line"></div>
  <p class="body-text" id="what-is-resp">Drinky Dice is a fun, dice based drinking game. Every player starts off with one six-sided dice, and they all roll. The player who rolled the lowest number drinks, and then receives another dice. The players roll again, and the players with multiple die add all of their die together.</p>

  <h2 class="subheader" id="why-more-dice">Why add more die?</h2>
  <div class="line"></div>
  <p class="body-text" id="why-more-dice-resp">Giving losing players more die means while there is always a chance that anyone will have to drink on any given roll, it increases the odds that winning players will drink and decreases the odds that losing players will have to drink. Once everyone has had the same number of drinks, the chance of drinking will be equal for everyone.</p>


  <h2 class="subheader" id="why-code-this">Okay neat game but why did you make it?</h2>
  <div class="line"></div>
  <p class="body-text" id="why-code-this-resp">I made this game for a variety of reasons. The first being that I'm a dweeb who actually enjoys programming. The second is that my friends told me to and I have a compulsion to please everyone. The third is that writing and deploying a functional web-application is a major flex.</p>

  <h2 class="subheader" id="who-code-this">Who wrote this tho</h2>
  <div class="line"></div>
  <p class="body-text" id="who-code-this-resp">Your resident homebody Neil Aylor of course. Add <a href="https://www.instagram.com/your_local_homeboy_neil_aylor/">@your_local_homebody_neil_aylor</a> on Instagram.</p>

</div>

</div>
