

#back-icon {
  color : white;
  font-size: 5em;
  top : 2%;
  left : 2%;
  cursor : pointer;
  position: absolute;
  z-index : 30;
}

@media screen and (max-width: 40em) {
  #back-icon {
    top : 0;
    left : 0;
    font-size : 3em;
    color : lightgrey;
    position: absolute;
  }
}
